.partners{
    text-align: center;
    color: #ccc;
    background-color: #434343;
    h1{
        padding: 20px 0;
        // border-bottom: solid thin rgb(90, 90, 90);
        // display: inline-block;
        padding-bottom: 5px;;
    }
    &__cont{
        padding: 20px 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}